<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Destination</title>
  </head>
  <body>
    <button onclick="history.back()">Back</button>
    <a href="/users/logout">Logout</a>
    <h1>Change Destination of Package <%= id %></h1>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>

    <ul>
      <% if(messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <form action="/users/packages/<%= id %>/changedest" method="POST">
      <div>
        <input type="number" min="0" id="x" name="x" placeholder="x" required />
      </div>
      <div>
        <input type="number" min="0" id="y" name="y" placeholder="y" required />
      </div>
      <div><input type="submit" value="Update" /></div>
    </form>
  </body>
</html>
